*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
JUSTIFICACION_DE_LA_ARQUITECTURA_DENTISSA.txt
owasp-top10-protecciones.txt
PLAN_XP_DESARROLLO_WEB_DENTISSA.txt
PROPUESTA_PATRONES_DISENO_DENTISSA.md
PROPUESTA_FRAMEWORKS_DENTISSA.txt
PROPUESTA_ESQUEMA_PRUEBAS_PEST.txt